body {
    color: var(--theme-primary);
    font-size: 18px;
    line-height: 1.756;
    font-family: 'SF Pro Display', '-apple-system', 'BlinkMacSystemFont',
        'San Francisco', 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Roboto',
        'Noto', 'Segoe UI', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--theme-background);
    margin: 0 auto 35px;
    max-width: 680px;
    padding: 1rem;
}

@media print {
    body {
        margin: unset;
        max-width: unset;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab';
}

article {
    line-height: 1.756;
    font-size: 1rem;
}

a {
    color: var(--theme-accent);
    text-decoration: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    a:hover {
        text-decoration: underline;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    a {
        display: inline;
        position: relative;
        overflow: hidden;
    }
    a:after {
        content: '';
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: -6px;
        background: var(--theme-accent);
        height: 3px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    a:hover:after,
    a:focus:after,
    a:active:after {
        left: 0;
        right: auto;
        width: 100%;
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 1.15;
    color: var(--theme-primary);
    font-family: 'Roboto Slab', Georgia, Serif;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 1.32;
}

blockquote {
    color: var(--theme-primary);
    font-family: 'Roboto Slab', Georgia, Serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.32;
}

cite {
    display: block;
    text-align: right;
    font-size: 1rem;
    color: #73737d;
    font-style: italic;
    font-family: 'Roboto Slab', Georgia, Serif;
}

cite::before {
    content: '— ';
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: rgb(37, 20, 20);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

kbd:not(:last-of-type) {
    margin-right: 5px;
}

img {
    max-width: min(680px, 100%);
}

hr {
    position: relative;
    width: 100%;
    max-width: min(680px, 100%);
    height: 14.36px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%232D2E33'/%3E%3C/svg%3E");
    box-sizing: border-box;
    margin: 50px auto;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background-repeat: repeat-x;
    background-position: center center;
}

.byline {
    display: inline;
    color: gray;
    box-sizing: border-box;
    cursor: default;
    display: block;
    font-family: -apple-system, system-ui, 'San Francisco', 'Helvetica Neue',
        Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialised;
}

.byline address {
    display: inline;
    font-style: normal;
    font-weight: bold;
}

pre > code {
    font-size: 1rem;
    font-size: 0.9rem;
    border-radius: 9px;
    border: 1px solid var(--theme-surface-border);
    background: var(--theme-surface);
}

p > code {
    color: rgb(199, 146, 234);
    font-style: italic;
    white-space: pre;
    padding: 0 2px;
    border-radius: 2px;
    background-color: rgb(1, 22, 39);
}

mark {
    background: #ffe31e;
    padding: 3px;
}

header.title > h1 {
    text-transform: uppercase;
}

header.title.title-small > h1 {
    font-size: 1.5rem;
}

header.title {
    margin: 2rem 0 4rem;
}

header.title a {
    color: gray;
}

header.title a:hover {
    color: var(--theme-accent);
}

img.hero {
    margin: 2rem calc(((100% + 100px) - 100%) / -2) 2rem;
    width: calc(100% + 100px);
    max-width: calc(100% + 100px);
}
