:root {
    --theme-primary: #fff;
    --theme-secondary: #fff;
    --theme-accent: #9783e3;
    --theme-background: #111216;
    --theme-hover: rgba(255, 255, 255, 0.07);
    --theme-track: rgba(255, 255, 255, 0.3);
    --theme-progress: #fff;
    --theme-card: #1d2128;
    --theme-error: #ee565b;
    --theme-success: #46b17b;
    --theme-errorBackground: rgba(238, 86, 91, 0.1);
    --theme-horizontalRule: rgba(255, 255, 255, 0.15);
    --theme-inputBackground: rgba(255, 255, 255, 0.07);
}
